
<app-main></app-main>

<div *ngIf="isCliente()" class="container">
  
    <!-- Elementos generados a partir del JSON -->
    <img class="" src="../../assets/images/carrito.png" alt="image"
    style="width: 60px; height: 60px; align-self: right">
    <!-- Carrito -->

    
    
      <!-- Elementos del carrito -->
      <ul id="carro_compras" class="list-group">
        <div *ngFor="let item of ArrayCarrito">
             
          <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-4"> {{item.nombre}} </div>
            <div class="col-md-3"> <input type="number" class="form-control" id="idnumero" [(ngModel)]="item.cantidad" ></div>
            <div class="col-md-3"> <button class="btn btn-sm btn-danger" (click)="quitarProductohome(item)" > Eliminar </button> </div>
            <div class="col-md-1">    </div>
            
          </div>


        </div>
        
        <hr>
        
      </ul>
      <button class="btn btn-sm btn-warning" >Finalizar Pedido</button>
      
   

</div>


