<app-main></app-main>
<div *ngIf="tipoUsuario == 'CLIENTE'">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 style="text-align: center">Dashboard</h1>
      <app-dashboards [cotizacionId]="cotizacionId"></app-dashboards>
    </div>
  </div>
  <hr>
</div>
<div *ngIf="tipoUsuario != 'CLIENTE'">
  <app-propuesta [cotizacionId]="cotizacionId" [productosInput]="" [proveedor]="" [propuestaIdInput]="" [aceptado]="" (aceptadaPropuesta)=notificarPropuestas()></app-propuesta>
</div>
<div *ngIf="tipoUsuario == 'CLIENTE'">
  <div *ngFor="let item of listPropuestas">
    <app-propuesta [cotizacionId]="cotizacionId" [productosInput]="item.productos" [proveedor]="item.proveedor.nombre"
      [propuestaIdInput]="item.id" [descuentoInput]="item.descuento" [aceptado]="aceptado" (aceptadaPropuesta)=notificarPropuestas()></app-propuesta>
    <hr>
  </div>
</div>