<app-main></app-main>
<div align='center'>
  <h1>Lista de Cotizaciones</h1>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cotizacion of cotizaciones">
          <th scope="row">{{cotizacion.id}}</th>
          <td>{{cotizacion.fecha}}</td>
          <td>
            <a routerLink="/propuesta/{{cotizacion.id}}" *ngIf="isCliente()">Ver cotización</a>
            <a routerLink="/propuesta/{{cotizacion.id}}" *ngIf="!isCliente()">Ver propuesta</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>