<br><br>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
      <div class="card_login">
        <div class="card">
          <div class="card-body text-center">
              <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
              <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)] = "tipo">
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="EMPRESA"> Empresa
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="PERSONA"> Persona
                  </label>
            
              </div> 
              <br><br>
              <div *ngIf="tipo == 'EMPRESA'" class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)] = "tipoProveedor">
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="INTERNO"> Proveedor Interno
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="EXTERNO"> Proveedor Externo
                </label>
          
            </div> 
           <form [formGroup]="registerForm" (ngSubmit)="register()">
            <br><br>
              <div class="form-group">
                <div *ngIf="tipo === 'PERSONA'">
                    <input type="text" formControlName="username"  class="form-control" id="username" placeholder="Nombre" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback" >
                        <div *ngIf="f.username.errors.required">Nombre es requerido</div>
                      </div>
  
                    </div>
                  </div>

                 <div class="form-group">
                     <input type="text" formControlName="apellido"  class="form-control" id="apellido" placeholder="Apellido" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                     <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback" >
                         <div *ngIf="f.apellido.errors.required">Apellido es requerido</div>
                       </div>
   
                   </div>


              <div class="form-group">
                 <input type="text" formControlName="usermail"  class="form-control" id="usermail" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                  <div *ngIf="submitted && f.usermail.errors" class="invalid-feedback" >
                      <div *ngIf="f.usermail.errors.required">email es requerido</div>
                    </div>

                </div>

                <div class="form-group">
                
                  <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                  
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password es requerido</div>
                  </div>

                </div> 

                

                  <div class="form-group">

                    <button [disabled]="loading" class="btn btn-primary">Registrate</button>
                  </div>
                  <a rel="nofollow"  href="login" class="automatic"> Login </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>