<br><br>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
      <div class="card_login">
        <div class="card">
          <div class="card-body text-center">
              <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
              <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)] = "tipo">
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="PROVEEDOR"> Empresa
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="CLIENTE"> Persona
                  </label>
            
              </div> 
              <br><br>
              <div *ngIf="tipo == 'PROVEEDOR'" class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)] = "tipoProveedor">
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="INTERNO"> Proveedor Interno
                </label>
                <label ngbButtonLabel class="btn-primary">
                  <input ngbButton type="radio" value="EXTERNO"> Proveedor Externo
                </label>
          
            </div> 
           <form [formGroup]="registerForm" (ngSubmit)="register()">
            <br><br>
              <div class="form-group">
                <div *ngIf="tipo === 'CLIENTE'">
                    <div class="form-group">
                    <input type="text" formControlName="identificacion"  class="form-control" id="identificacion" placeholder="Identificacion" [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }">
                    <div *ngIf="submitted && f.identificacion.errors" class="invalid-feedback" >
                        <div *ngIf="f.identificacion.errors.required">Identificación es requerido</div>
                      </div>
                    </div>

                     <div class="form-group">
                          <select placeholder="Seleccione tipo de identificacion" class="form-control" id="tipoIdentificacion" formControlName="tipoIdentificacion" [ngClass]="{'is-invalid': submitted && f.tipoIdentificacion.errors }"> 
                            <option value="TI">TI - Tarjeta de identidad</option>
                            <option value="CC">CC - Cédula de ciudadanía</option>
                            <option value="CE">CE - Cédula de extranjería</option>
                            <option value="PA">PA - Pasaporte </option>
                          </select>
                            <div *ngIf="submitted && f.tipoIdentificacion.errors" class="invalid-feedback" >
                              <div *ngIf="f.tipoIdentificacion.errors.required">Tipo de Identificación es requerido</div>
                            </div>
                     </div>

                     
  
                </div>
                <div *ngIf="tipo === 'PROVEEDOR'">
                    
                    <div class="form-group">
                        <input type="text" formControlName="identificacion"  class="form-control" id="identificacion" placeholder="Nit" [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }">
                        <div *ngIf="submitted && f.identificacion.errors" class="invalid-feedback" >
                        <div *ngIf="f.identificacion.errors.required">Nit es requerido</div>
                        </div>
                    </div>

                </div>
                  </div>

                  <div class="form-group">
                      <input type="text" formControlName="username"  class="form-control" id="username" placeholder="Nombre" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                      <div *ngIf="submitted && f.username.errors" class="invalid-feedback" >
                      <div *ngIf="f.username.errors.required">Nombre es requerido</div>
                      </div>
                  </div>

                 

                   <div class="form-group">
                      <input type="text" formControlName="direccion"  class="form-control" id="direccion" placeholder="Direccion" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }">
                      <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback" >
                          <div *ngIf="f.direccion.errors.required">Direccion es requerido</div>
                        </div>
    
                    </div>


              <div class="form-group">
                 <input type="text" formControlName="usermail"  class="form-control" id="usermail" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                  <div *ngIf="submitted && f.usermail.errors" class="invalid-feedback" >
                      <div *ngIf="f.usermail.errors.required">email es requerido</div>
                    </div>

                </div>

                <div class="form-group">
                  <input type="text" formControlName="usuario"  class="form-control" id="usuario" placeholder="Usuario" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }">
                  <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback" >
                      <div *ngIf="f.usuario.errors.required">Usuario es requerido</div>
                    </div>
                   </div>

                <div class="form-group">
                
                  <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                  
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password es requerido</div>
                  </div>

                </div> 

                

                  <div class="form-group">

                    <button [disabled]="loading" class="btn btn-primary">Registrate</button>
                  </div>
                  <a rel="nofollow"  href="login" class="automatic"> Login </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>